@import "styles/common";

.featureItem {
  display: flex;
  gap: 10px;
  width: 320px;

  .img {
    margin-top: 5px;
  }

  .content {
    @extend .flexCol;
    gap: 10px;

    .title {
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      font-size: 1.15rem;
    }

    .desc {
      font-size: 1rem;
      font-family: "DM Sans", sans-serif;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 700px) {
  .featureItem .content {
    .title {
      font-size: 1rem;
    }

    .desc {
      font-size: 0.9rem;
    }
  }
}
