@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import "styles/common";

.header {
  position: absolute;
  top: 10px;
  @extend .flexColCen;
  justify-content: flex-start;
  height: 45px;
  width: 100%;
  padding: 10px 10px 0;
  background: #fff;
  overflow: hidden;
  transition: height 0.3s;
  z-index: 10;

  .container {
    @extend .alignCen;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
  }

  h1 {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .menu {
    @extend .flexCenter;
    gap: 12px;
    color: #0f2137;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;

    a {
      position: relative;
      padding: 0 10px;

      @media (hover: hover) {
        &:hover {
          color: #f94962;
        }
      }

      @media not (hover: hover) {
        &:focus {
          color: #f94962;
        }
      }
    }

    .active {
      color: #f94962;

      &::after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #f94962;
      }
    }
  }

  .btn {
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    color: #6b7280;
    border-radius: 5px;
    cursor: pointer;
    display: none;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #f3f4f6;
      }
    }
  }

  .list {
    @extend .flexCol;
    width: 100%;
    gap: 12px;
    padding: 10px 5px;
    margin-top: 11px;
    font-weight: 500;
    border: 1px solid #f3f4f6;
    border-radius: 8px;
    background-color: #f9fafb;
    list-style: none;

    li {
      a {
        position: relative;
        padding: 0 10px;

        &:hover {
          color: #f94962;
        }
      }

      .active {
        color: #f94962;
      }
    }
  }
}

.expand {
  height: 200px;
  border-bottom: 1px solid #f1f1f1;

  .list {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding-top: 5px;

    .menu {
      display: none;
    }

    .btn {
      display: flex;
    }
  }
}
