@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import "styles/common";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f1f1f1;
  font-family: "DM Sans", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  @extend .flexCenter;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
